<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xkcd Comics</title>
    <!-- main.css -->
    <link rel="stylesheet" href="./../main.css" type="text/css">
</head>
<body>
    <hearder>  <h1 class="text-center"> Cyber City Comics </h1> </hearder>
   <hr>
    {{{body}}}   
   <hr>
<footer> <h3> Contact us</h3> </footer>
</body>
<script>
    function transcriptAppear(){
        document.getElementById("transcript").style="display:block;"
    }
</script>
</html>